#member_regist 
{
	height: 440px;
	width: 600px;
	margin: 60px auto;
	border: 1px solid #999;
	font-family: "Microsoft JhengHei UI";
}

h1
{
	background-color: #e8e8e8;
    box-sizing: padding-box;
    float: left;
    font-size: 18px;
    font-weight: bold;
    height: 25px;
    margin-bottom: 8px;
    margin-top: 0;
    padding-left: 8px;
    width: 100%;
}

#regist_input
{
	height: 350px;
	width: 475px;
	margin: 40px auto;
}

h2
{
	font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 20px;
}

#user_check
{
	font-size: 12px;
	background-color: #66FF66;
    text-decoration: none;
	display: inline;
	border-radius: 5px;
}

#msg
{
	font-size: 12px;
	color: #FF0000;
}

#pass_msg
{
	font-size: 12px;
	color: #FF0000;
}

#kakuninn_msg
{
	font-size: 12px;
	color: #FF0000;
}

#email_msg
{
	font-size: 12px;
	color: #FF0000;
}
.regist_btn
{
	background-color: #ffad33;
    border: medium none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    height: 30px;
    width: 80px;
	margin-left: 95px;
}

.regist_btn:hover 
{
	background-color: #FF8C00;
}

input
{
    font-size: 18px;
    height: 25px;
}